
@{
    ViewBag.Title = "PasswordResetList";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        SuperAdmin
        <small>Password Reset</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"> Password Reset</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @if (this.TempData["password_messsage"] != null)
        {
           if (this.TempData["message_class"].ToString() == "success_info")
           {
            <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Success</h4> @this.TempData["password_messsage"]
            </div>
           }
           else
           {
           <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Error</h4> @this.TempData["password_messsage"]
           </div>
           }
        }



        <!-- Start Form -->

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">SuperAdmin Password Reset</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table id="t01" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>UserName</th>
                                <th>UserType</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name - @item.ClientCode
                                </td>

                                <td>
                                    @item.UserName
                                </td>
                                <td>
                                    @item.UserType
                                </td>
                                <td>
                                    <a href="@Url.Action("PasswordReset","SuperAdmin", new {clientCodeID = @item.ClientCode } )"><i class="fa fa-key"></i>Password Reset </a>

                                    @*<input type="hidden" class="form-control" id="clientCode1" name="txtClientCode" value="@item.ClientCode" />
                                    <a href="#activity" id="showPwdContent" data-toggle="tab" onclick="return gotoNode(@item.ClientCode)">
                                        <i class="fa fa-key"></i> Reset
                                    </a>*@

                                </td>
                            </tr>
                        }

                    </table>

                    @*@using (Html.BeginForm("PasswordReset", "Admin", FormMethod.Post, new { @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        if (this.ViewData["password_messsage"] != null)
                        {
                            if (this.ViewData["message_class"].ToString() == "success_info")
                            {
                                <div class="alert alert-success">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <h4>Success</h4> @this.ViewData["password_messsage"]
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <h4>Error</h4> @this.ViewData["password_messsage"]
                                </div>
                            }
                        }

                        <div class="col-md-10" id="contentPwdReset" style="display:none">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#activity" data-toggle="tab">Password Reset</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">


                                        <div class="box">
                                            <div class="box-header with-border">
                                                <h3 class="box-title"><strong><i class="fa fa-user fa-key"></i> Password Reset</strong></h3>
                                            </div>
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <div style="display:none;">
                                                        <input type="text" class="form-control" id="clientCode" name="txtClientCode" />
                                                    </div>
                                                    <label>Password</label>
                                                    <input type="password" class="form-control" id="password" name="txtPassword"
                                                           placeholder="Password" required="required">
                                                </div>
                                            </div>
                                            <div class="box-footer">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /. tab-content-->
                            </div>
                            <!-- /.nav-tabs-custom -->
                        </div>
                    <!-- /.col-md-9-->
                    }*@

                </div>

            </div>
        </div>
        <!--End Form -->

    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $("#showPwdContent").click(function () {
            $("#contentPwdReset").show();
        });
    });

    function gotoNode(name) {
        var input = document.getElementById('clientCode1');
        document.getElementById('clientCode').value = input.value.toString();
    }

</script>

