
@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Title = "Profile";
    var srcPP = "";
    var srcfront = "";
    var srcback = "";

    string _ImageSaveUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["ImageAddress"];
    string _ApiImageSaveUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["WCFImageAddress"];

    if (ViewBag.hasKYC != "T")
    {
        srcfront = _ImageSaveUrl + "Content/assets/img/citizenship1.jpg";
        srcback = _ImageSaveUrl + "Content/assets/img/citizenship2.jpg";
        srcPP = _ImageSaveUrl + "Images/default_image.png";
    }
    else
    {
        if (ViewBag.FrontImage == "" && ViewBag.BackImage == "" && ViewBag.PassportImage == "")
        {
            srcfront = _ImageSaveUrl + "Content/assets/img/citizenship1.jpg";
            srcback = _ImageSaveUrl + "Content/assets/img/citizenship2.jpg";
            srcPP = _ImageSaveUrl + "Images/default_image.png";
        }
        else
        {
            srcfront = _ApiImageSaveUrl + "Content/Upload/" + ViewBag.FrontImage;
            srcback = _ApiImageSaveUrl + "Content/Upload/" + ViewBag.BackImage;
            srcPP = _ApiImageSaveUrl + "Content/Upload/" + ViewBag.PassportImage;
        }
    }
}

<!-- Content Header (Page header) -->
@*<section class="content-header">
        <h1>
            User
            <small>User Information</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-user"></i> User</a></li>
            <li class="active"> User Information</li>
        </ol>
    </section>*@


<!-- Main content -->

<div class="main-content">
    <div class="pad-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">

                    <aside class="sidebar user-sidebar">
                        <div class="content-inner">
                            <div class="top-section">
                                <div class="user-info">
                                    <div class="img-holder">
                                        <img src="@srcPP" style="height:109.75px; width:109.75px;" alt="profile photo">
                                    </div>

                                    <div class="user-detail">
                                        <span class="name">@ViewBag.Name</span><br />
                                        <span class="phone">@ViewBag.ContactNumber1</span>&nbsp;&nbsp;
                                        @*<span class="phone">@ViewBag.ContactNumber2</span>*@
                                    </div>
                                </div>

                                <div class="btn-wrapper">
                                    <a href="#" class="btn btn-grey">
                                        <i class="thaili-icon-load-wallet"></i>
                                        Nrs.@ViewBag.AvailBalnAmount

                                    </a>

                                    <a href="#" class="btn btn-grey">
                                        <i class="thaili-icon-bank"></i>
                                        Nrs.
                                        <div class="bankbal1"></div>
                                    </a>

                                </div>
                            </div>

                            <ul class="user-menu">
                                <li class="active"><a href="@Url.Action("Index", "Profile")">User Detail</a></li>
                                @*<li><a href="#">Notification Settings</a></li>
        <li><a href="#">Devices</a></li>*@
                                <li><a href="@Url.Action("Index", "ChangePassword")">Change Password</a></li>
                                <li><a href="@Url.Action("Index", "PinReset")">Change Thaili Pin</a></li>
                                <li><a href="@Url.Action("ResetThailiPin", "PinReset")">Reset Thaili Pin</a></li>

                                <li class="logout"><a href="Logout">Log out</a></li>
                            </ul>
                        </div>
                    </aside>

                    <!-- /sidebar -->
                </div>
                <div class="col-lg-8">
                    <div class="personal-wrapper">
                        <h2 class="title bordered-title-below">Personal Details</h2>

                        <div class="user-detail content-wrapper">
                            <div class="row">
                                <div class="col-md-6 item match-height">
                                    <label for="">Name:</label>
                                    <span>@ViewBag.Name</span>
                                </div>

                                <!---->
                                <div class="col-md-2 item match-height">
                                    <label for="">Gender:</label>
                                    <span>@ViewBag.Gender</span>
                                </div>

                                <div class="col-md-4 item match-height">
                                    <label for="">Date of Birth:</label>
                                    @if (ViewBag.SelfReg == "T")
                                    {
                                        <span>@ViewBag.DOB AD</span>
                                    }
                                    else
                                    {
                                        <span>@ViewBag.DOB AD</span>
                                    }
                                </div>


                                <div class="col-md-6 item match-height">
                                    <label for="">Current Address:</label>
                                    <span>@ViewBag.CAddress</span>
                                </div>

                                <!--Self Registration fields-->
                                <div class="col-md-6 item match-height">
                                    <label for="">Grand Father's Name:</label>
                                    <span>@ViewBag.GrandFatherName</span>
                                    @*@if (ViewBag.FatherInlawName != "")
                    {
                        <span>@ViewBag.FatherInlawName</span>
                    }
                    else
                    {
                        <span>@ViewBag.GrandFatherName</span>
                    }*@
                                </div>


                                <div class="col-md-6 item match-height">
                                    <label for="">Permanent Address:</label>
                                    <span>@ViewBag.PAddress</span>
                                </div>


                                <!--Self Registration fields-->
                                <div class="col-md-6 item match-height">
                                    <label for="">Father's Name:</label>
                                    <span>@ViewBag.FatherName</span>
                                    @*@if (ViewBag.SpouseName != "")
                    {
                        <span>@ViewBag.SpouseName</span>
                    }
                    else
                    {
                        <span>@ViewBag.FatherName</span>
                    }*@

                                </div>

                               


                            </div>
                        </div>

                        @if (ViewBag.SelfReg == "T")
                        {
                            <h2 class="title bordered-title-below">Identity Details</h2>

                            <div class="identity-detail content-wrapper">
                                <div class="row">
                                    <div class="col-md-6 item">
                                        @if (ViewBag.DocType == "DocCitizenship")
                                        {
                                            <label>Citizenship</label>
                                        }

                                        else if (ViewBag.DocType == "DocLicense")
                                        {
                                            <label>License</label>
                                        }

                                        else
                                        {
                                            <label>Passport</label>
                                        }

                                        <div class="img-wrapper">
                                            <div class="img-holder">
                                                <img src="@srcfront" style="height:120px; width:172px;" alt="Front Image" />
                                            </div>

                                            <div class="img-holder">
                                                <img src="@srcback" style="height:120px; width:172px;" alt="Back Image" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 item">
                                        <label>Profile Image</label>

                                        <dib class="img-holder profile-img">
                                            <img src="@srcPP" style="border-radius:8px; height:120px; width:120px; object-fit:cover" alt="Profile Image" />
                                        </dib>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <h2 class="title bordered-title-below">Identity Details</h2>

                            <div class="identity-detail content-wrapper">
                                <div class="row">
                                    <div class="col-md-6 item">
                                        <label>Citizenship</label>

                                        <div class="img-wrapper">
                                            <div class="img-holder">
                                                <img src="@srcfront" style="height:120px; width:172px;" @*width="133" height="93"*@ alt="Front Citizenship Image">
                                            </div>

                                            <div class="img-holder">
                                                <img src="@srcback" style="height:120px; width:172px;" @*width="133" height="93"*@ alt="Back Citizenship Image">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 item">
                                        <label>Profile Image</label>

                                        <div class="img-holder profile-img">
                                            <img src="@srcPP" height="120" width="120" alt="Profile Image">
                                            @*<img src="~/Content/assets/img/User-image.png" height="120" width="120" alt="" >*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @*///for bank details*@
                        <br/>
                        @if (ViewBag.HasBankKYC == "T")
                        {
                            <h2 class="title bordered-title-below">Bank Details</h2>
                            <div class="user-detail content-wrapper">
                                <div class="row">
                                    <div class="col-md-6 item match-height">
                                        <label for="">Bank Name:</label>
                                        <span>@ViewBag.BankName</span>
                                    </div>

                                    <!---->
                                    <div class="col-md-6 item match-height">
                                        <label for="">Bank Account No.:</label>
                                        <span>@ViewBag.BankAccountNumber</span>
                                    </div>



                                </div>
                            </div>

                        }




                    </div>

                    <!-- /personal-detail -->

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
             $.ajax({
                        cache: false,
                        async: true,
                        type: "GET",
                        url: '@Url.Action("BankQuery", "UserDashboard")',
                        data: { "Username": "" },
                        success: function (data, textStatus, jqXHR) {

                            if (data.responseCode == "200") {
                                var resp = data.responseText;
                                //$("#bankbal").html(resp.text());

                                $(".bankbal1").text(resp);
                            }

                        },
                        error: function () {
                            //alert("Data Not Found");
                        }
            });

    </script>
}

