@model CustApp.Models.ISP

@{
    ViewBag.Title = "Sky Internet/TV Online Payment";
    string hasBankKYC = ViewBag.HasBankKYC;

}

<!-- Main content -->
<link href="~/Content/NewIcon/style.css" rel="stylesheet" />
<style>
    .image_icon {
        width: 100px;
    }

    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -32px;
        margin-right: 13px;
        position: relative;
        z-index: 2;
    }
</style>

@using (Html.BeginForm("SkyCheckPayment", "TvServicePayment", FormMethod.Post, new { @id = "SkyCheckPayment", @name = "SkyCheckPayment", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="preload" style="display:none">
        <img src="~/Content/image/loading.gif" class="img-responsive" />
    </div>
    <div class="main-content">
        <div class="two-colbg">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6">
                        <section class="internet-payment pad-50">
                            <div class="top-section">
                                <h2 class="title">Sky Internet/TV Bill Payment</h2>
                                <p>Please fill the required field.</p>
                            </div>
                            <blockquote class="blockquote">
                                <h4 style="text-align:justify">Customer ID and Set Top Box No or CAS ID is a unique ID provided by Sky Cable TV while installing the Set Top Box (STB).</h4>
                            </blockquote>
                        </section>

                    </div>

                    <div class="col-lg-6 right-form">
                        <section class="content-inner pad-50">
                            @if (this.ViewData["NepalWater_messsage"] != null)
                            {
                                if (this.ViewData["message_class"].ToString() == "success_info")
                                {
                                    <div class="alert alert-success">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>Success</h4> @this.ViewData["NepalWater_messsage"]
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>Error</h4> @this.ViewData["NepalWater_messsage"]
                                    </div>
                                }
                            }

                            @*<div class="transfer-order clearfix">
                                    <h3 class="title">Pay from</h3>

                                    <select class="form-control selectpicker transaction-select from col-md-9" id="TransactionMedium" name="TransactionMedium" onmousedown="this.value='';">
                                        <option data-icon="thaili-icon-load-wallet" value="00">Wallet</option>
                                        @if (hasBankKYC.Equals("T"))
                                        {
                                            <option data-icon="thaili-icon-bank" value="10">Bank</option>
                                        }
                                    </select>
                                </div>*@


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-12">Customer ID :<b style="color:red;">*</b></label>
                                        <input type="text" class="form-control select2" id="CustomerID" name="txtCustomerID" placeholder="Example: 1234567" maxlength="20" oninput="checkValidation()" />
                                    </div>
                                    <div class="form-group" id="CustErr" style="color:red; margin-top:-11px;"></div>
                                </div>

                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-12">Service Mode:<b style="color:red;">*</b></label>

                                        @Html.DropDownList("DHServiceCode", new SelectList(ViewBag.DHServiceCode, "Key", "Value"), new
                                   {
                                       @class = "form-control select2 selectpicker placeholder_voucher",
                                       @oninput = "checkValidation()",
                                       @onclick = "checkValidation()",
                                       @id = "DHServiceCode",
                                       data_show_subtext = "true",
                                       data_live_search = "true"
                                   })

                                    </div>
                                    <div class="form-group" id="NepalWaterErr" style="color:red; margin-top:-11px;"></div>
                                </div>
                            </div>
                            <br />

                            <div class="box-footer">
                                <input type="submit" class="btn btn-blue btn-big col-md-5" name="btnCommand" value="Get Details" id="btnSubmit" />
                                <input type="button" value="Clear" class="btn btn-default btn-big col-md-5" id="clearButton" />
                            </div>

                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Failure modal -->
    <div class="modal fade common-modal" id="failureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="success-icon">
                        <img src="~/Content/assets/img/denied-cross.svg" alt="denied-cross">
                    </div>
                    <p style="color: #E31837; font-size: 1.111rem; font-weight: 700;">@*Error!*@</p>
                    <span style="color: #E31837; font-size: 1.111rem; font-weight: 700;" id="message"></span>
                    <br /> <br />
                    <button type="button" class="btn btn-blue" data-dismiss="modal" style="width:80%">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Failure modal session expired -->
    <div class="modal fade common-modal" id="failureModalSessionExpired" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="success-icon">
                        <img src="~/Content/assets/img/denied-cross.svg" alt="denied-cross">
                    </div>
                    <p style="color: #E31837; font-size: 1.111rem; font-weight: 700;">@*Error!*@</p>
                    <span style="color: #E31837; font-size: 1.111rem; font-weight: 700;">Session expired. Please login again</span>
                    <br /> <br />
                    <button type="button" class="btn btn-blue" data-dismiss="modal" style="width:80%">OK</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{

    <script type="text/javascript">

        $(".btnShow1").mousedown(function () {
            $(".pwd1").attr("type", "text");
        });
        $(".btnShow1").on("mouseleave", function () {
            $(".pwd1").attr("type", "password");
        });


        @*document.getElementById("successModal").onclick = function () {
         var url = '@Url.Action("Details", "NepalWater")';
         window.location.href = url;
        };*@
        document.getElementById("failureModalSessionExpired").onclick = function () {
         var url = '@Url.Action("Index", "LogOut")';
         window.location.href = url;
        };

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

        function noCharacter(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 32 && charCode < 48) || (charCode > 57 && charCode < 65) || (charCode > 90 && charCode < 97) || (charCode > 122 && charCode < 127)) {
                return false;
            }
            return true;
        }
        ///for amount input number and dot only
        function NumberDot(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        $(".placeholder_voucher").prepend("<option value='0' disabled selected>---Select Service---</option>");

        function checkValidation() {
            var Cust = $("[name='txtCustomerID']").val();
            var DHServiceCode = $("[name='DHServiceCode']").val();

            if ((Cust.trim() == "")) {
                $("#CustErr").html("");
                $("#CustErr").append("<small>" + "Customer ID is required and cannot be empty" + "</small>");
                $("#CustErr").show();
            }
            else {
                $("#CustErr").hide();
            }
        }



        $("#clearButton").click(function () {
            $("[name='txtCustomerID']").val("");
            $("[name='DHServiceCode']").val("");
        });




        $('#btnSubmit').click(function (e) {
            e.preventDefault();
            debugger;
            var CustomerID = $("[name='txtCustomerID']").val();
            var DHServiceCode = $("[name='DHServiceCode']").val();
            if ((CustomerID != "") && (DHServiceCode != "")) {

                var dataToPost = {
                    CustomerID: CustomerID,
                    DHServiceCode: DHServiceCode
                };

                e.preventDefault(); //prevent the default action
                $.ajax({
                    url: '@Url.Action("SkyCheckPayment", "TvServicePayment")',
                    type: "POST",
                    data: dataToPost,
                    async: true,
                    success: function (data) {
                        $(".preload").show();
                        if (data.responseCode == "200") {
                            var url = '@Url.Action("SkyDetails", "TvServicePayment")';
                            window.location.href = url;
                        }
                        //display error message
                        else {
                            $("#ajaxResponse").html("");
                            $("#message").html("");
                            $("#message").append(data.responseText);
                            if (data.responseText == "Session expired. Please login again") {
                                $('#failureModalSessionExpired').modal("show");
                            }
                            else {
                                $('#failureModal').modal("show");
                            }

                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Failed to retrieve.');
                        $("#message").html("");
                        $("#message").append(jqXHR.responseText);
                        $('#failureModal').modal("show");

                    },
                    //capture the request before it was sent to server
                    beforeSend: function (jqXHR, settings) {
                        $(".preload").show();
                        //adding some Dummy data to the request
                        settings.data += "&dummyData=whatever";
                        //disable the button until we get the response
                        $('#btnSubmit').attr("disabled", true);
                    },
                    complete: function (jqXHR, textStatus) {
                        //enable the button
                        $('#btnSubmit').attr("disabled", false);
                    }
                });

            }
            else {
                checkValidation();
                $("#message").html("");
                $("#message").append("Please Enter the required fields.");
                $('#failureModal').modal("show");

            }
        });
    </script>

}
