
@{
    ViewBag.Title = "ChangePassword";
    ViewBag.Title = "Recover";
    Layout = "";

    string _WebUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["WebAddress"];
    var loginLink = Path.Combine(_WebUrl + "Login/Index");
    var backgroundLink = Path.Combine(_WebUrl + "Content/assets/img/home-bg.png");
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MNepal | Mobile Banking</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @*///start milayako*@
    <!-- /Google font -->
    <link href="https://fonts.googleapis.com/css?family=Chivo:300,400,700" rel="stylesheet">
    <!-- Custom style -->
    <link href="~/Content/ThaliStyle.css" rel="stylesheet" />
    <link rel="icon" type="image/ico" href="~/favicon.ico">
    @*//end milayako*@


    <script type="text/javascript" src="~/Content/assets/js/jquery.js"></script>

    <script type="text/javascript" src="~/Content/assets/vendor/bootstrap/js/popper.min.js"></script>

    <script type="text/javascript" src="~/Content/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- custom js -->
    <script type="text/javascript" src="~/Content/assets/js/main.js"></script>


    <style>
        .image_icon {
            width: 50px;
        }

        .field-icon {
            float: right;
            margin-left: -25px;
            margin-top: -32px;
            margin-right: 13px;
            position: relative;
            z-index: 2;
        }
    </style>
    @*<!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css">
        <!-- Theme style -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">*@
</head>
<body>

    @*//start milayako*@

    <div class="main-content">
        <div class="hero-bg text-center" style="background-image: url(@backgroundLink); ">
            <div class="container">
                <a href="@loginLink" class="logo">
                    <img src="~/Content/assets/img/thaili-logo.svg" alt="thaili-logo" />
                </a>
                <!-- /logo -->

                <div class="form-wrapper">

                    @using (Html.BeginForm("ChangePassword", "ForgetPassword", FormMethod.Post, new
                    {
                        @id = "RecoverForm",
                        @class = "form col-md-12 center-block"
                    }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        if (this.TempData["changepwd_message"] != null)
                        {
                            if (this.TempData["message_class"].ToString() == "success_info")
                            {
                                <!-- Success modal -->
                                <div class="modal fade common-modal" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-show="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body text-center">
                                                <div class="success-icon">
                                                    <img src="~/Content/assets/img/success-tick.svg" alt="success-tick">
                                                </div>
                                                <p class="msg">Success!</p>
                                                <span class="msg">Password successfully updated.</span>
                                                <br /> <br />
                                                <button type="button" class="btn btn-blue" data-dismiss="modal" style="width:80%">OK</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="alert alert-success">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>Success</h4> @this.TempData["changepwd_message"]
                                    </div>*@
                            }
                            else
                            {
                                <!-- Failure modal -->
                                <div class="modal fade common-modal" id="failureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body text-center">
                                                <div class="success-icon">
                                                    <img src="~/Content/assets/img/denied-cross.svg" alt="denied-cross">
                                                </div>
                                                <p style="color: #E31837; font-size: 1.111rem; font-weight: 700;">Error!</p>
                                                <span style="color: #E31837; font-size: 1.111rem; font-weight: 700;" id="message">Password could not be updated.</span>
                                                <br /> <br />
                                                <button type="button" class="btn btn-blue" data-dismiss="modal" style="width:80%">OK</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                @*<div class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>Error</h4> @this.TempData["changepwd_message"]
                                    </div>*@
                            }
                        }
                        <label for="" class="control-label">Enter New Password</label>

                        <div class="form-group has-feedback">
                            <input type="password" id="password" name="txtNewPassword" class="form-control pwd1" placeholder="Enter your password" maxlength="12" onpaste="return false" required />
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password, btnShow1"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" id="cpassword" name="txtCNewPassword" class="form-control pwd2" placeholder="Re-type your password" maxlength="12" onpaste="return false" required />
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password, btnShow2"></span>
                        </div>

                        <div class="button-wrapper">
                            <button type="submit" class="btn btn-blue">Finish</button>
                        </div>

                    }

                    <!-- /Login form -->
                </div>
                <!-- /form-wrapper -->

                <div class="two-col text-left">
                    <div class="row align-items-end">
                        <div class="col-md-6 google-play">
                            <p>Available for download on</p>
                            <a href="#">
                                <img src="~/Content/assets/img/playstore-icon.png" alt="playstore-icon" />

                            </a>
                        </div>

                        <div class="col-md-6">
                            <p>Are you receiving money from a thaili account?</p>
                            <a href="#" class="btn btn-orange">Click here</a>
                        </div>
                    </div>
                </div>
                <!-- /two-col -->

                <div class="powered-by">
                    <h5 class="title">Powered by</h5>
                    <a href="#" class="nibl-logo">
                        <img src="~/Content/assets/img/nibl-logo.svg" alt="nibl-logo" />

                    </a>
                </div>
                <!-- /powerred-by -->
            </div>
        </div>
        <!-- /hero-bg -->
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="@loginLink" class="logo">
                            <img src="~/Content/assets/img/thaili-logo.svg" alt="thaili-logo">
                        </a>
                    </div>

                    <div class="col-lg-8">
                        <ul class="footer-menu">
                            <li>
                                <a href="#">Policy</a>
                                <ul>
                                    <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "PrivacyPolicy")</li>
                                    <li>@Html.ActionLink("Terms and Conditions", "Index", "TermsAndCondition")</li>
                                    <li><a href="#">Report Fraud or Misuse of Account</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Company</a>
                                <ul>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Blog/News</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Partners</a>
                                <ul>
                                    <li><a href="#">Banks</a></li>
                                    <li><a href="#">Western Union</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Help</a>
                                <ul>
                                    <li><a href="#">FAQ's</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /footer-top -->

            <div class="footer-bottom">
                <div class="row align-items-end">
                    <div class="col-md-6">
                        <h5 class="title">Powered by</h5>
                        <a href="#" class="nibl-logo">
                            <img src="~/Content/assets/img/nibl-logo.svg" alt="nibl-logo">
                        </a>
                    </div>

                    <div class="col-md-6 cnt-right text-right">
                        <span class="copyright">Thaili Digital Paisa @DateTime.Now.Year. All Right Reserved</span><br />
                        @*<span class="crafted-by">Crafted by <a href="http://act360.com.np/" target="_blank">ACT360</a></span>*@
                    </div>
                </div>
            </div>
            <!-- /footer-bottom -->
        </div>
    </footer>
    @*//end milayako*@

    @*<div class="modal show" tabindex="-1" role="dialog" aria-hidden="true">

        @using (Html.BeginForm("ChangePassword", "ForgetPassword", FormMethod.Post, new { @id = "RecoverForm",@class = "form col-md-12 center-block"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            if (this.TempData["changepwd_message"] != null)
            {
                if (this.TempData["message_class"].ToString() == "success_info")
                {
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>Success</h4> @this.TempData["changepwd_message"]
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>Error</h4> @this.TempData["changepwd_message"]
                    </div>
                }
            }
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">

                            <img src="~/Content/image/nibl.png" alt="NIBL LOGO" style="margin-left:50px">

                            <h2 class="text-center"><b>Reset Password</b></h2>
                        </div>

                        <div class="modal-body">
                            <div class="form-group has-feedback">
                                <input type="password" id="password" name="txtNewPassword" class="form-control" placeholder="New Password" maxlength="12" required />
                            </div>

                            <div class="form-group has-feedback">
                                <input type="password" id="cpassword" name="txtCNewPassword" class="form-control" placeholder="Confirm New Password" maxlength="12" required />
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                                        Reset Password
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        }
            </div>*@

    <!-- /.login-box -->
    <!-- jQuery 3 -->
    @*<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>*@
    <!-- Bootstrap 3.3.7 -->
    @*<script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@

    <!-- Load jQuery and the validate plugin -->
    @*<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>*@

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>

    <!-- jQuery Form Validation code -->
    <script type="text/javascript">
        $(".btnShow1").mousedown(function () {
            $(".pwd1").attr("type", "text");
        });
        $(".btnShow1").on("mouseleave", function () {
            $(".pwd1").attr("type", "password");
        })
        $(".btnShow2").mousedown(function () {
            $(".pwd2").attr("type", "text");
        });
        $(".btnShow2").on("mouseleave", function () {
            $(".pwd2").attr("type", "password");
        })

        $(document).ready(function () {

            $('#RecoverForm').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    txtNewPassword: {
                        validators: {
                            notEmpty: {
                                message: 'The Password is required and cannot be empty'
                            }, //for strong password
                            //regexp: {
                            //    regexp: /^(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,12}$/,
                            //    message: 'New Password must be of  8-12 characters long which should include 1 uppercase & 1 number'
                            //}

                            stringLength: {
                                max: 12,
                                min: 5,
                                message: 'The password must be of 5-12 characters'
                            }
                        }
                    },
                    txtCNewPassword: {
                        validators: {
                            notEmpty: {
                                message: 'The Confirm Password is required and cannot be empty'
                            },
                            identical: {
                                field: 'txtNewPassword',
                                message: 'The Password dont match. Please retry!'
                            }
                        }
                    }
                }
            });
        });
    </script>


</body>
</html>
