@model MNSuperadmin.Models.FileUpload

@{
    ViewBag.Title = "Index";
}

<!-- =============================================== -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Bulk SMS
        @*<small>Registration</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-envelope"></i>SMS</a></li>
        <li class="active"> Bulk SMS</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">

        @using (Html.BeginForm("SendBulkSMS", "BulkSMS", FormMethod.Post, new { @id = "BulkSMS", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            if (this.ViewData["registration_message"] != null)
            {
                if (this.ViewData["message_class"].ToString() == "success_info")
                {
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>Success</h4> @this.ViewData["registration_message"]
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>Error</h4> @this.ViewData["registration_message"]
                    </div>
                }
            }

            if (ViewBag.ResultErrorMessage != null)
            {
                <script type="text/javascript">

    window.onload = function () {
        alert("@ViewBag.ResultErrorMessage");
       };
                </script>

            }

            <!-- Start -->
            <div class="col-xs-10">

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Send Bulk SMS</h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Message:<b style="color:red;">*</b></label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" rows="3" cols="50" id="msg" name="txtMsg" maxlength="1000" placeholder="SMS Message"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Excel File:<b style="color:red;">*</b></label>
                                    <div class="col-sm-9">
                                        <input type="file" name="excelUpload" id="excelUpload" class="file-loading" />
                                        <label id="errorLabel" style="color:red"> </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- /.box-body -->

                        <div class="box-footer">
                            <input type="submit" class="btn btn-primary" name="btnCommand" value="Upload" />
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                    <!-- /.box-body -->
                </div>
                <!-- col-xs-10-->
                <!-- End-->
            </div>
        }

    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<!-- =============================================== -->
