
@{
    ViewBag.Title = "Cash OutAgent1";
}


@model ThailiMNepalAgent.Models.MNFundTransfer
<!-- =============================================== -->
<!-- Content Header (Page header) -->
@*<section class="content-header">
        <h1>
            Payment
            <small>Cash Out </small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-user"></i> Payment</a></li>
            <li class="active"> Cash Out Agent</li>
        </ol>
    </section>*@
<link href="~/Content/NewIcon/style.css" rel="stylesheet" />
<style>
    .image_icon {
        width: 50px;
    }


    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -32px;
        margin-right: 13px;
        position: relative;
        z-index: 2;
    }
</style>

@*//start milayako 03*@
<div class="main-content">
    <div class="two-colbg">
        <div class="container">
            <div class="row">

                <div class="col-lg-6">

                    <section class="internet-payment pad-50">
                        <div class="top-section">
                            <h2 class="title">Recharge Cards</h2>
                            <p>Please select the service provider whose recharge card you want to purchase.</p>
                            <p>For validity information, please <a href="#">click here</a></p>
                        </div>

                        <section class="instant-transactions">
                            <div class="top-section clearfix">
                                <h2 class="title">Instant Transactions</h2>
                                @*<a href="#" class="customize">customize</a>*@
                            </div>

                            <div class="transactions-grid clearfix">
                                <div class="item load-wallet">
                                    <div class="item-inner">
                                        @*<a href="~/FundTransfer/LoadWalletBW">*@
                                        <a href="~/FundTransfer/EBanking">
                                            <div class="content-inner">
                                                <i class="thaili-icon-load-wallet"></i>
                                                <span>Load Wallet</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- /item -->

                                <div class="item transfer-fund">
                                    <div class="item-inner">
                                        <a href="~/FundTransfer/Index">
                                            <div class="content-inner">
                                                <i class="thaili-icon-transfer-funds"></i>
                                                <span>Transfer funds</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- /item -->

                                <div class="item top-up">
                                    <div class="item-inner">
                                        <a href="~/UtilityPay/TopUp">
                                            <div class="content-inner">
                                                <i class="thaili-icon-top-up"></i>
                                                <span>Top Up</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- /item -->

                                <div class="item recharge">
                                    <div class="item-inner">
                                        <a href="~/UtilityPay/NewRecharge">
                                            <div class="content-inner">
                                                <i class="thaili-icon-recharge"></i>
                                                <span>Recharge</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- /item -->
                                @*<div class="item withdraw">
            <div class="item-inner">
                <a href="~/FundTransfer/Withdraw">
                    <div class="content-inner">
                        <i class="thaili-icon-wallet"></i>
                        <span>Withdraw </span>
                    </div>
                </a>
            </div>
        </div>*@
                                <!-- /item -->
                                <div class="item internet">
                                    <div class="item-inner">
                                        <a href="~/FundTransfer/Withdraw">
                                            <div class="content-inner">
                                                <span class="icon-icon-wallet"></span>
                                                <span style="color:#bf8040;">Withdraw</span>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="item internet">
                                    <div class="item-inner">
                                        <a href="~/MerchantPayment/MerchantRestaurant">
                                            <div class="content-inner">
                                                <span class="icon-icon-merchant"></span>
                                                <span style="color:#002d6a;">Merchants</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- /item -->

                                <div class="item internet">
                                    <div class="item-inner">
                                        <a href="~/Cash/OutAgent1">
                                            <div class="content-inner">
                                                <span class="icon-icon-cashout"></span>
                                                <span style="color:#ff9966;">Cash Out</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="item internet">
                                    <div class="item-inner">
                                        <a href="~/Cash/In">
                                            <div class="content-inner">
                                                <img src="~/Content/assets/img/icons/icon-cashin.svg" style="max-width: 79%;" />

                                                <span style="color:#00aeef;">Cash In</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- /item -->
                            </div>
                        </section>

                        <!-- /internet-payment -->
                    </section>
                </div>

                <div class="col-lg-6 right-form">
                    <section class="content-inner pad-50">



                        @using (Html.BeginForm("OutAgent1", "Cash", FormMethod.Post, new { @id = "frmCashOutAgent1" }))
                        {
                            <div id="ajaxResponse">
                            </div>

                            <div class="box-body">
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <label>Agent Mobile Number</label>
                                    <input type="text" name="txtAgentRecipientNo" class="form-control" required title="Please use Recipient Mobile number" maxlength="10" onkeypress="return isNumber(event)" value="@ViewBag.AgentMobileNo" readonly />

                                </div>

                                <div class="form-group">
                                    <label>Customer Mobile Number</label>
                                    <input type="text" id="recipient" name="txtCustSenderMobileNo" class="form-control" placeholder="Customer Mobile No." required title="Please use Customer Mobile No." id="SenderMobileNo" data-target="tdSenderMobileNo" maxlength="10" onkeypress="return isNumber(event)" style="margin-bottom: 6px;" />
                                    <div id="check">  </div>
                                </div>

                                <div class="form-group">
                                    <label>Transaction Code</label>
                                    <input type="text" placeholder="Transaction Code" name="txtTransactionCode" class="form-control" required title="Please use Transaction Code " id="txtTransactionCode" data-target="txtTransactionCode" maxlength="6" onkeypress="return isNumber(event)" style="margin-bottom: 6px;"/>
                                    <div id="check">  </div>
                                </div>


                                @*<div class="form-group">
                    <label>Amount</label>
                    <input type="text" id="amount" name="txtAmount" class="form-control" placeholder="Amount"
                           required maxlength="6" />
                </div>

                <div class="form-group">
                    <label>T-PIN</label>
                    <input type="password" id="pin" name="txtPin" class="form-control" placeholder="T-PIN" pattern=".{4,4}" required title="Please use the T-Pin number" maxlength="4" onkeypress="return isNumber(event)" />
                </div>

                <div class="form-group">
                    <label>Purpose</label>
                    <textarea class="form-control" rows="3" id="note" name="txtNote" placeholder="Note Enter ..." pattern=".{0}|.{,40}" required title="Please use the Purpose"></textarea>
                </div>*@


                                <!-- /.form-group -->
                            </div>
                            <!-- /.box-body -->

                            @*<div class="box-footer">
                <input id='btnConfirm' type="button" value="Confirm" />
            </div>*@
                            <div class="box-footer">
                                <input type="submit" class="btn btn-blue btn-big col-md-5" id="btnConfirm" name="txtSubmit" value="Confirm" />
                            </div>
                            
                        }
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Failure modal -->
<div class="modal fade common-modal" id="failureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="success-icon">
                    <img src="~/Content/assets/img/denied-cross.svg" alt="">
                </div>
                <p style="color: #E31837; font-size: 1.111rem; font-weight: 700;">@*Error!*@</p>
                <span style="color: #E31837; font-size: 1.111rem; font-weight: 700;" id="message"></span>
            </div>
        </div>
    </div>
</div>

@*//end milayako 03*@
<!-- Main content -->
@*<section class="content">
    <!-- Main row -->
    <div class="row">

        <div class="col-md-8">

            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Cash Out</h3>
                </div>
                <!-- /.box-header -->

                @using (Html.BeginForm("OutAgent1", "Cash", FormMethod.Post, new { @id = "frmCashOutAgent1" }))
                {
                    <div id="ajaxResponse">
                    </div>

                    <div class="box-body">

                        <div class="form-group">
                            <label>Agent Mobile Number</label>
                            <input type="text" name="txtAgentRecipientNo" class="form-control" required title="Please use Recipient Mobile number" maxlength="10" onkeypress="return isNumber(event)" value="@ViewBag.AgentMobileNo" readonly />

                        </div>

                        <div class="form-group">
                            <label>Customer Mobile Number</label>
                            <input type="text" id="recipient" name="txtCustSenderMobileNo" class="form-control" placeholder="Customer Mobile No." required title="Please use Customer Mobile No." id="SenderMobileNo" data-target="tdSenderMobileNo" maxlength="10" />
                            <label id="check">  </label>
                        </div>

                        <div class="form-group">
                            <label>Transaction Code</label>
                            <input type="text" placeholder="Transaction Code" name="txtTransactionCode" class="form-control" required title="Please use Transaction Code "  id="txtTransactionCode" data-target="txtTransactionCode" maxlength="6" />
                            <label id="check">  </label>
                        </div>


                        <div class="form-group">
                                <label>Amount</label>
                                <input type="text" id="amount" name="txtAmount" class="form-control" placeholder="Amount"
                                       required maxlength="6" />
                            </div>

                            <div class="form-group">
                                <label>T-PIN</label>
                                <input type="password" id="pin" name="txtPin" class="form-control" placeholder="T-PIN" pattern=".{4,4}" required title="Please use the T-Pin number" maxlength="4" onkeypress="return isNumber(event)" />
                            </div>

                            <div class="form-group">
                                <label>Purpose</label>
                                <textarea class="form-control" rows="3" id="note" name="txtNote" placeholder="Note Enter ..." pattern=".{0}|.{,40}" required title="Please use the Purpose"></textarea>
                            </div>

                    </div>

                   
                    <div class="box-footer">
                        <input class="btn btn-primary pull-right" id="btnConfirm" name="txtSubmit" value="Confirm" />
                    </div>

                }
            </div>
        </div>

        <div class="col-md-2"> &nbsp; </div>

    </div>
</section>*@
<!-- /.content -->
<!-- =============================================== -->

@section scripts{

    <!-- Load jQuery and the validate plugin -->
    @*<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>*@

    <!--jQuery Form Validation code -->
    <script>
        function CopyValue(event) {
            var value = event.value;
            var target = $(event).attr('data-target');
            $('#' + target).html(value);
        }
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

        $("#recipient").change(function (event) {
            event.preventDefault();

            var id = $("#recipient").val();
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetCheckingUserName", "Cash")',
                data: { "Username": id },
                success: function (data, textStatus) {
                    var markup = data;
                    if (data == "Success") {
                        $("#check").html("");
                        $("#check").css("color", "red");
                        $("#check").css("font-size", "80%");
                        $("#check").html("Not valid Customer Number").show();
                    }
                    else {
                        $("#check").html("");
                        $("#check").css("color", "green");
                        $("#check").css("font-size", "80%");
                        $("#check").html("Valid Number").show();
                    }
                    if (id == "")
                    {
                        $("#check").hide();
                    }
                },
                error: function () {
                    alert("Data Not Found");
                }
            });
        });



      $(document).ready(function () {

        $('#frmCashOutAgent1').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {

                txtSenderMobileNo: {
                    validators: {

                        regexp: {
                            regexp: /^[9][8][0-9]{8}$/,
                            message: 'Input value is not a valid mobile format'
                        },
                        notEmpty: {
                            message: 'The mobile number is required and cannot be empty'
                        }
                    }

                },

                txtCustSenderMobileNo: {
                    validators: {

                        regexp: {
                            regexp: /^[9][8][0-9]{8}$/,
                            message: 'Input value is not a valid mobile format'
                        },
                        notEmpty: {
                            message: 'The mobile number is required and cannot be empty'
                        }
                    }

                },

                txtTransactionCode: {
                    validators: {
                        notEmpty: {
                            message: 'The Transaction Code is required and cannot be empty'
                        },
                        stringLength: {
                            max: 6,
                            min: 6,
                            message: 'The Transaction Code must be 6 charactor long'
                        }
                    }
                }

                //txtAmount: {
                //    validators: {
                //        notEmpty: {
                //            message: 'The Amount is required and cannot be empty'
                //        },
                //        stringLength: {
                //            max: 4,
                //            min: 2,
                //            message: 'The Amount must be more than 2 and less than 4 characters long'
                //        }
                //    }
                //},
                //txtPin: {
                //    validators: {
                //        notEmpty: {
                //            message: 'The pin is required and cannot be empty'
                //        },
                //        stringLength: {
                //            max: 4,
                //            min: 4,
                //            message: 'The pin must be more than 4 and less than 4 characters long'
                //        }
                //    }
                //}
            }
        });


         $("#ajaxResponse").hide();


        });



        $('#btnConfirm').click(function (e) {

            var agentrecipientNo = $("[name='txtAgentRecipientNo']").val();
            var umobile = $("[name='txtCustSenderMobileNo']").val();
            var trcode = $("[name='txtTransactionCode']").val();

            if ((agentrecipientNo != "") && (umobile != "") && (trcode != "")) {

                var dataToPost = {
                    agentUserName: agentrecipientNo,
                    da: umobile,
                    transactionCode: trcode
                };
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("OutAgent1", "Cash")',
                    type: 'POST',
                    data: dataToPost,
                    cache: false,
                    async: false,
                    success: function (data, textStatus, jqXHR) {

                        if ((textStatus == "success") && (data.responseCode == "200")) {

                            location.href = '@Url.Content("~/Cash/OutAgent2/")';
                            //$("#ajaxResponse").html("");
                            //$("#ajaxResponse").append("<div class='alert alert-success'><h4>Success</h4>"
                            //    + data.responseText + "<br/></div>");
                            //$("#ajaxResponse").show();
                        }
                        //display error message
                        else {
                            $("#ajaxResponse").html("");
                            $("#ajaxResponse").append("<div class='alert alert-danger'><h4>Error</h4>"
                                + data.responseText + "<br/></div>");
                            $("#ajaxResponse").show();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Failed to retrieve.');
                        $("#ajaxResponse").html(jqXHR.responseText);
                    },
                    //capture the request before it was sent to server
                    beforeSend: function (jqXHR, settings) {
                        //adding some Dummy data to the request
                        settings.data += "&dummyData=whatever";
                        //disable the button until we get the response
                        $('#btnSubmit').attr("disabled", true);
                    },
                    complete: function (jqXHR, textStatus) {
                        //enable the button
                        $('#btnSubmit').attr("disabled", false);
                    }
                });

            }
            else {
                $("#message").html("");
                $("#message").append("Please Enter the required fields.");
                $('#failureModal').modal("show");
            }
        });

    </script>
}

