@model ThailiMNepalAgent.Models.DMAT
@{
    ViewBag.Title = "Demat Payment";
    string hasBankKYC = ViewBag.HasBankKYC;
}

<!-- Main content -->
<link href="~/Content/NewIcon/style.css" rel="stylesheet" />
<style>
    .image_icon {
        width: 100px;
    }

    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -32px;
        margin-right: 13px;
        position: relative;
        z-index: 2;
    }
</style>
@using (Html.BeginForm("DMATPayment", "Share", FormMethod.Post, new { @id = "DMATPayment", @name = "DMATPayment", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="main-content">
        <div class="two-colbg">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6">
                        <section class="internet-payment pad-50">
                            <div class="top-section">
                                <h2 class="title">Demat Bill Payment</h2>
                                <p>Please fill the required field for further processings</p>
                            </div>
                            <div class="instant-transactions">
                                <h3 class="title">Other Merchant Payment</h3>
                                <div class="transactions-grid clearfix">
                                    <div class="item load-wallet">
                                        <div class="item-inner">
                                            <a href="@Url.Action("MerchantRestaurant", "MerchantPayment")">
                                                <div class="content-inner">
                                                    <i class="thaili-icon-restaurant"></i>
                                                    <span>Restaurant</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- /item -->

                                    <div class="item transfer-fund">
                                        <div class="item-inner">
                                            <a href="@Url.Action("MerchantCollege", "MerchantPayment")">
                                                <div class="content-inner">
                                                    <i class="thaili-icon-college"></i>
                                                    <span>College</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- /item -->

                                    <div class="item top-up">
                                        <div class="item-inner">
                                            <a href="@Url.Action("MerchantSchool", "MerchantPayment")">
                                                <div class="content-inner">
                                                    <i class="thaili-icon-school"></i>
                                                    <span>School</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- /item -->

                                    <div class="item top-up">
                                        <div class="item-inner">
                                            <a href="@Url.Action("MerchantInsurance", "MerchantPayment")">
                                                <div class="content-inner">
                                                    <i class="thaili-icon-school"></i>
                                                    <span>Insurance</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- /item -->
                                    <div class="item top-up">
                                        <div class="item-inner">
                                            <a href="@Url.Action("Index", "NEA" )">
                                                <div class="content-inner">
                                                    <i class="thaili-icon-electricity"></i>
                                                    <span>NEA</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- /item -->
                                    <div class="item top-up">
                                        <div class="item-inner">
                                            <a href="@Url.Action("Index", "Khanepani" )">
                                                <div class="content-inner">
                                                    <i class="thaili-icon-khanepani"></i>
                                                    <span>Khanepani</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- /item -->
                                    <div class="item top-up">
                                        <div class="item-inner">
                                            <a href="@Url.Action("Index", "NepalWater" )">
                                                <div class="content-inner">
                                                    <i class="thaili-icon-khanepani"></i>
                                                    <span>Nepal Water</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- /item -->
                                </div>
                            </div>
                        </section>

                    </div>

                    <div class="col-lg-6 right-form">
                        <section class="content-inner pad-50">
                            @if (this.ViewData["DMAT_messsage"] != null)
                            {
                                if (this.ViewData["message_class"].ToString() == "success_info")
                                {
                                    <div class="alert alert-success">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>Success</h4> @this.ViewData["DMAT_messsage"]
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>Error</h4> @this.ViewData["DMAT_messsage"]
                                    </div>
                                }
                            }

                            @*<div class="transfer-order clearfix">
                                    <h3 class="title">Pay from</h3>

                                    <select class="form-control selectpicker transaction-select from col-md-9" id="TransactionMedium" name="TransactionMedium" onmousedown="this.value='';">
                                        <option data-icon="thaili-icon-load-wallet" value="00">Wallet</option>
                                        @if (hasBankKYC.Equals("T"))
                                        {
                                            <option data-icon="thaili-icon-bank" value="10">Bank</option>
                                        }
                                    </select>
                                </div>*@



                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-12">Demat Payment:<b style="color:red;">*</b></label>

                                        @Html.DropDownList("DMAT", new SelectList(ViewBag.DematName, "Key", "Value"), new
                                   {
                                       @class = "form-control select2 selectpicker show-tick",
                                       @oninput = "checkValidation()",
                                       @onclick = "checkValidation()",
                                       @id = "DMATPayment",
                                       data_show_subtext = "true",
                                       data_live_search = "true"
                                   })

                                    </div>
                                    <div class="form-group" id="DMATErr" style="color:red; margin-top:-11px;"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-12">Demat Number:<b style="color:red;">*</b></label>
                                        <input type="text" class="form-control select2" id="DematNumber" name="txtDematNumber" placeholder="Your 16 digits BO ID" maxlength="16" onkeypress="return isNumber(event)" oninput="checkValidation()" />
                                    </div>
                                    <div class="form-group" id="CustErr" style="color:red; margin-top:-11px;"></div>
                                </div>

                            </div>

                            <br />

                            <div class="box-footer">
                                <input type="submit" class="btn btn-blue btn-big col-md-5" name="btnCommand" value="Get Details" id="btnSubmit" />
                                <input type="button" value="Clear" class="btn btn-default btn-big col-md-5" id="clearButton" />
                            </div>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Failure modal -->
    <div class="modal fade common-modal" id="failureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="success-icon">
                        <img src="~/Content/assets/img/denied-cross.svg" alt="denied-cross">
                    </div>
                    <p style="color: #E31837; font-size: 1.111rem; font-weight: 700;">@*Error!*@</p>
                    <span style="color: #E31837; font-size: 1.111rem; font-weight: 700;" id="message"></span>
                    <br /> <br />
                    <button type="button" class="btn btn-blue" data-dismiss="modal" style="width:80%">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Failure modal session expired -->
    <div class="modal fade common-modal" id="failureModalSessionExpired" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="success-icon">
                        <img src="~/Content/assets/img/denied-cross.svg" alt="denied-cross">
                    </div>
                    <p style="color: #E31837; font-size: 1.111rem; font-weight: 700;">@*Error!*@</p>
                    <span style="color: #E31837; font-size: 1.111rem; font-weight: 700;">Session expired. Please login again</span>
                    <br /> <br />
                    <button type="button" class="btn btn-blue" data-dismiss="modal" style="width:80%">OK</button>
                </div>
            </div>
        </div>
    </div>

}

@section scripts{

    <script type="text/javascript">
        debugger;
        $(".btnShow1").mousedown(function () {
            $(".pwd1").attr("type", "text");
        });
        $(".btnShow1").on("mouseleave", function () {
            $(".pwd1").attr("type", "password");
        });


        @*document.getElementById("successModal").onclick = function () {
         var url = '@Url.Action("Details", "NepalWater")';
         window.location.href = url;
        };*@
        document.getElementById("failureModalSessionExpired").onclick = function () {
         var url = '@Url.Action("Index", "LogOut")';
         window.location.href = url;
        };

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

        function noCharacter(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 32 && charCode < 48) || (charCode > 57 && charCode < 65) || (charCode > 90 && charCode < 97) || (charCode > 122 && charCode < 127)) {
                return false;
            }
            return true;
        }
        ///for amount input number and dot only
        function NumberDot(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        
        $(".placeholder_Month").prepend("<option value='0' disabled selected>---Select Month---</option>");
        //$(".show-tick").prepend("<option value='0' disabled selected>---Select Option---</option>");

        function checkValidation() {
            debugger;
            var Cust = $("[name='txtDematNumber']").val();
            var DMAT = $("[name='DMAT']").val();

            //if (DMAT == null) {
            //    $("#DMATErr").append("<small>" + "Demat Payment option is required" + "</small>");
            //    $("#DMATErr").show();
            //    $("#btnSubmit").hide(); 

            //}
            if ((Cust.trim() == "")) {
                $("#CustErr").html("");
                $("#CustErr").append("<small>" + "Demat Number is required and cannot be empty" + "</small>");
                $("#CustErr").show();
            }
            else if (Cust.length != "16") {
                $("#btnSubmit").hide();
                $("#CustErr").html("");
                $("#CustErr").append("<small>" + "BoId must be of 16 digits" + "</small>");
                $("#CustErr").show();

            }
            else if (Cust.length == "16") {
                $("#btnSubmit").show();
                $("#CustErr").hide();

            }
            else {
                $("#CustErr").hide();
            }
        }



        $("#clearButton").click(function () {
            $("[name='txtDematNumber']").val("");
            $("[name='DMAT']").val("");
        });




        $('#btnSubmit').click(function (e) {
            e.preventDefault();
            debugger;

            var DematNumber = $("[name='txtDematNumber']").val();
            var DMATBank = $("[name='DMAT']").val();
            var token = $('input[name="__RequestVerificationToken"]').val();
            if ((DematNumber != "") && (DMATBank != "")) {

                var dataToPost = {
                    DematName: DMATBank,
                    DematCode: DematNumber,
                    TokenUnique: token
                };

                e.preventDefault(); //prevent the default action
                $.ajax({
                    url: '@Url.Action("DMATPayment", "Share")',
                    type: "POST",
                    //data: dataToPost,
                    data: {
                        __RequestVerificationToken: token,
                        dmat: dataToPost
                    },
                    async: false,
                    success: function (data) {

                        if (data.responseCode == "200") {
                            var url = '@Url.Action("Details", "Share")';
                            window.location.href = url;
                        }
                        //display error message
                        else {
                            $("#ajaxResponse").html("");
                            $("#message").html("");
                            $("#message").append(data.responseText);
                            if (data.responseText == "Session expired. Please login again") {
                                $('#failureModalSessionExpired').modal("show");
                            }
                            else {
                                $('#failureModal').modal("show");
                            }

                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Failed to retrieve.');
                        $("#message").html("");
                        $("#message").append(jqXHR.responseText);
                        $('#failureModal').modal("show");

                    },
                    //capture the request before it was sent to server
                    beforeSend: function (jqXHR, settings) {
                        //adding some Dummy data to the request
                        settings.data += "&dummyData=whatever";
                        //disable the button until we get the response
                        $('#btnSubmit').attr("disabled", true);
                    },
                    complete: function (jqXHR, textStatus) {
                        //enable the button
                        $('#btnSubmit').attr("disabled", false);
                    }
                });

            }
            else {
                checkValidation();
                $("#message").html("");
                $("#message").append("Please Enter the required fields.");
                $('#failureModal').modal("show");

            }
        });
    </script>

}


