@{
    ViewBag.Title = "PrivatePolicy";
    Layout = "";

    string _WebUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["WebAddress"];
    var loginLink = Path.Combine(_WebUrl + "Login/Index");
    var backgroundLink = Path.Combine(_WebUrl + "Content/assets/img/home-bg.png");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MNepal | Mobile Banking</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- /Google font -->
    <link href="https://fonts.googleapis.com/css?family=Chivo:300,400,700" rel="stylesheet">
    <!-- Custom style -->
    <link href="~/Content/ThaliStyle.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Content/assets/js/jquery.js"></script>

    <script type="text/javascript" src="~/Content/assets/vendor/bootstrap/js/popper.min.js"></script>

    <script type="text/javascript" src="~/Content/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- custom js -->
    <script type="text/javascript" src="~/Content/assets/js/main.js"></script>


    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="icon" type="image/ico" href="~/favicon.ico">

    <style>
        .headerFont {
            color: #002D6A;
            font-size: 1.3rem;
            font-weight: bold;
        }
    </style>

</head>

<body>
    <div class="main-content">
        <div class="hero-bg text-center" style="background-image: url(@backgroundLink); ">
            <div class="container">
                <a href="@loginLink" class="logo">
                    <img src="~/Content/assets/img/thaili-logo.svg" alt="thaili-logo" />

                </a>
                <!-- /logo -->

                <div class="container" style="text-align: justify; line-height:1.5rem;">

                    <b class="headerFont" style="font-size:2rem; font-weight:bold">Our Partner</b>
                    <br />
                    <br />
                    <a href="" class="">
                        <img src="~/Content/image/nibl.png" alt="NIBL" />

                    </a>
                </div>
            </div>
        </div>

        <!-- /hero-bg -->
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="@loginLink" class="logo">
                            <img src="~/Content/assets/img/thaili-logo.svg" alt="thaili-logo">
                        </a>
                    </div>

                    <div class="col-lg-8">
                        <ul class="footer-menu">
                            <li>
                                <a href="#">Policy</a>
                                <ul>

                                    <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "PrivacyPolicy")</li>
                                    <li>@Html.ActionLink("Terms and Conditions", "Index", "TermsAndCondition")</li>
                                    <li>@Html.ActionLink("Report Fraud or Misuse of Account", "ReportFraud", "PrivacyPolicy")</li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Company</a>
                                <ul>
                                    <li>@Html.ActionLink("About Us", "AboutUs", "Help")</li>
                                    <li>@Html.ActionLink("Career", "Career", "Help")</li>
                                    <li>@Html.ActionLink("Blog/News", "BlogOrNews", "Help")</li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">Partners</a>
                                <ul>
                                    <li>@Html.ActionLink("Bank Partner", "Bank", "Help")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Help</a>
                                <ul>
                                    <li>@Html.ActionLink("FAQ's", "Index", "FAQ")</li>
                                    <li>@Html.ActionLink("Contact Us", "ContactUs", "Help")</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /footer-top -->

            <div class="footer-bottom">
                <div class="row align-items-end">
                    <div class="col-md-6">
                        <h5 class="title">Powered by</h5>
                        <a href="#" class="nibl-logo">
                            <img src="~/Content/assets/img/nibl-logo.svg" alt="nibl-logo">
                        </a>
                    </div>

                    <div class="col-md-6 cnt-right text-right">
                        <span class="copyright">Thaili Digital Paisa @DateTime.Now.Year. All Right Reserved</span><br />
                        @*<span class="crafted-by">Crafted by <a href="http://act360.com.np/" target="_blank">ACT360</a></span>*@
                    </div>
                </div>
            </div>
            <!-- /footer-bottom -->
        </div>
    </footer>

</body>
</html>
